main{
    display: block;
    margin: auto;
    max-width: 1000px;
    min-width: 430px;
    width: 65%;
   
    
}
section{
    display: block;
}
td{
    border: 1px solid #80ced6;
    padding: 10px;
}
table{
    display: table;
    border-collapse: collapse;
    background-color:  #f0fff8;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
   
}
p{
    box-sizing: border-box;
    background-color: #f0fff8;
    padding: 30px;
    border: 2px solid #80ced6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
   display: block;
}