header{
    background-color: rgb(109, 214, 10);
    width: 100%;
    height: 50px;
}
h1{
    font-family: "Open Sans", sans-serif;
}
main{
    margin: auto;
    width: 70%;
    max-width: 1120px;

}
.link{
    color: #3dd60e;
}
footer{
    width: 100%;
    background-color: #1ca3b4;
    height: 100px;
}