.head {
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
    color: #18304B;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    font-family: "Overpass", sans-serif;
}

h5 {
    margin-bottom: 30px;
    color: #007AFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.link {
    margin-bottom: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.ul-link a:hover {
    padding: 16px;
    border-bottom: 4px solid #007AFF;
    background: none;
    cursor: pointer;
}

.ul-link a:focus {
    padding: 16px;
    color: #007AFF;
    border-bottom: 4px solid #007AFF;
    cursor: pointer;


}



.ul-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ul-link a {
    color: #B6B9BC;
    font-size: 16px;
    font-family: "Chivo", sans-serif;
    font-weight: 700;
}


.location {
    display: flex;
    margin-bottom: 40px;
    color: #76787A;
    ;
}

.loc-item {
    display: flex;
    margin-right: 20px;
}

.time {
    color: #B6B9BC;
}

.icon {
    margin-right: 10px;
}

.ltd {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.ltd-p {
    margin-right: 8px;
}

.ltd-time {
    color: #B6B9BC;
}


.col-2 {
    justify-content: center;
    align-items: center;
    width: calc(100%/12*2);
    background-color: blue;
    margin-bottom: 30px;
}

.row-head {
    background-color: rgba(242, 126, 66, 0.26);
    color: #F27E42;
    width: calc(100%/12*6);
    padding: 8px 2px;
    border-radius: 20px;
    margin-bottom: 35px;
    margin-top: 35px;

}

.head-2 {
    color: #4294F2;
    background: rgba(66, 148, 255, 0.26);
}

.head-3 {
    color: #2EB98D;
    background: rgba(46, 185, 141, 0.03);
}

.head-4 {
    color: #6A42F2;
    background: rgba(106, 66, 242, 0.07);
}

.head-5 {
    color: #F162BC;
    background: rgba(241, 98, 188, 0.07);
}

.head-6 {
    color: #4294F2;
    background: rgba(66, 148, 255, 0.26);
}


h4 {
    text-align: center;
}

.user {
    margin-bottom: 20px;
}

.user-a {
    color: black;

}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {

    width: calc(100%/12*2);
    color: white;
    background-color: #007AFF;
    border-radius: 5px;
    margin-bottom: 40px;
    text-align: center;

}

input {
    border: none;
    outline: none;
    background-color: #007AFF;
    color: white;
    padding: 26px 10px;
    font-size: 18px;
    font-family: "Chivo", sans-serif;
    font-weight: 600;
    cursor: pointer;
}